<!doctype html>
<html class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $style := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <title>
      {{ block "title" . }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body>
    <nav class="shadow-solid">
      <a href="/" class="logo"> <u>raihan</u>kr </a>
      <ul>
        <li><a href="/blog">blog</a></li>
      </ul>
    </nav>
    {{ block "main" . }}
    {{ end }}
    <footer>
      {{ .Site.Copyright }}
    </footer>
  </body>
</html>
