{{ define "main" }}
  <section>
    <h1>This is {{ .Title }}</h1>
    <div>
      <article>
        {{ .Content }}
      </article>
    </div>
  </section>
  <aside>
    <div>
      <section>
        <h4>{{ .Date.Format "Mon Jan 2, 2006" }}</h4>
        <h5>{{ .WordCount }}</h5>
      </section>
    </div>
    <div>
      {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" class="previous">{{ .Title }}</a>
      {{ end }}
      {{ with .NextInSection }}
        <a href="{{ .Permalink }}" class="next">{{ .Title }}</a>
      {{ end }}
    </div>
  </aside>
{{ end }}
